In [9]:
import sqlite3 
db=sqlite3.connect('IMDB.sqlite')

In [10]:
db

In [11]:
db=sqlite3.connect('school.sqlite')
db

In [15]:
cur=db.cursor()
cur

cur.execute= ('insert into employee values (100, Rishav, 25, " Marketing", 50000)')