In [1]:
import sqlite3
db=sqlite3.connect('IMDB.sqlite')
db

In [2]:
db=sqlite3.connect('school.sqlite')
db

In [3]:
cur=db.cursor()
cur

In [8]:
sql_query= 'create table employee(employee_id int primary key, name text, age int, deparment text, salary decimal )'
cur.execute(sql_query)

OperationalError: table employee already exists

In [10]:
cur.execute('insert into employee values (100, "Rishav", 25, "Marketing", 50000)')

In [11]:
db.commit()

In [12]:
cur.execute('insert into employee values (101, "Abhisek", 26, "operation", 60000)')

In [13]:
db.commit()

In [14]:
cur.execute('insert into employee values (102, "Aman", 24, "HUman resource", 75000)')

In [16]:
db.commit()