In [27]:
import sqlite3
import pandas as pd
db=sqlite3.connect('IMDB.sqlite')

In [28]:
data= pd.read_sql_query('select * from IMDB',db)
data

DatabaseError: Execution failed on sql 'select * from IMDB': no such table: IMDB