In [4]:
my_string='this is faheem'

In [5]:
my_string

'this is faheem'

In [6]:
my_string[0]

't'

In [9]:
my_string[-1]

'm'

In [13]:
my_string[5:13]

'is fahee'

In [14]:
my_string='this is faheem'
my_string

'this is faheem'

In [15]:
len(my_string)

14

In [16]:
my_string.lower()

'this is faheem'

In [17]:
my_string.upper()

'THIS IS FAHEEM'

In [18]:
my_string.replace('is','are')

'thare are faheem'

In [19]:
new_string="100 100 100 100 300 3000 300 hello hello hello"

In [23]:
new_string.count("00")

7

In [21]:
new_string.count("hello")

3

In [24]:
my_string="hello this is awesome"

In [27]:
my_string.find('t')

6

In [28]:
str_final='president obama is best president of united state'
str_final

'president obama is best president of united state'

In [29]:
str_final.split('e')

['pr', 'sid', 'nt obama is b', 'st pr', 'sid', 'nt of unit', 'd stat', '']

In [31]:
tup1=(1,1.3,True,5-5j)

In [32]:
tup1

(1, 1.3, True, (5-5j))

In [33]:
type(tup1)

tuple

In [38]:
tup1=(1,1.3,True,5-5j)
tup1[1:4]

(1.3, True, (5-5j))

In [40]:
tup1[2]='this is femu'

TypeError: 'tuple' object does not support item assignment