In [1]:
import sqlite3
db = sqlite3.connect('school.sqlite')
db

In [2]:
cur = db.cursor()
cur

In [4]:
cur.execute('select * from employee')

In [5]:
for row in cur :
    print(row)

(100, 'Rishav', 25, 'Marketing', 50000)
(101, 'Abhisek', 26, 'operation', 60000)
(102, 'Aman', 24, 'HUman resource', 75000)

In [9]:
cur.execute('select * from employee where salary >= 50000')

In [10]:
print(cur.fetchall())

[(100, 'Rishav', 25, 'Marketing', 50000), (101, 'Abhisek', 26, 'operation', 60000), (102, 'Aman', 24, 'HUman resource', 75000)]

In [11]:
cur.execute('select * from employee where salary = 50000')
print(cur.fetchall())

[(100, 'Rishav', 25, 'Marketing', 50000)]